# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
# .env
# .env.*

# Virtual environments
.venv/
venv/
ENV/
env/

# Media and Static
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
